{% extends 'base.html' %}
{% block content %}
	<div style='text-align:center;' >
		  <h1>Hello Simple Relevance.</h2>
		  <img width='400' src='static/dog-photo.jpg' >
		  <h1>Welcome to My API Project.</h1>	  
		  <div>
			{% if not session.logged_in %} 
			<a href='{{ url_for("login") }}'><div class='btn btn-large btn-success'>Login</div></a>
			{% else %}
			<a href='{{ url_for("logout") }}'><div class='btn btn-large btn-warning'>Logout</div></a>
			{% endif %}
		  </div>
	  </div>
{% endblock %}

